#menu_render_div .entry-container {
  display: flex;
  border: 1px solid #e9f1f9;
  border-radius: 16px;
  gap: 12px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
#menu_render_div .entry-container:hover {
  border: 1px solid #1f2730;
}

#menu_render_div .entry-container {
  display: flex;
  border: 1px solid #e9f1f9;
  border-radius: 16px;
  gap: 12px;
}
#menu_render_div .entry-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
#menu_render_div .entry-content-top-row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
#menu_render_div .entry-title {
  display: block;
  font-size: 18px;
  font-weight: 600;
}
#menu_render_div .entry-description {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin-bottom: 10px;
}
#menu_render_div .entry-content-bottom-row {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}
#menu_render_div .entry-content-bottom-row {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}
#menu_render_div .label-container {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  padding: 5px 12px;
}
#menu_render_div .label-icon {
  font-size: 12px;
}
#menu_render_div .label-text {
  font-size: 12px;
}
#menu_render_div .entry-price {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
#menu_render_div .entry-image-container {
  flex-shrink: 0;
  max-width: 170px;
  max-height: auto;
}
#menu_render_div .entry-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 1200px) {
  #menu_render_div .entry-image-container {
    max-width: 150px;
  }
  #menu_render_div .entry-price {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  #menu_render_div .entry-container {
    gap: 5px;
  }
  #menu_render_div .entry-content {
    padding: 14px;
  }
  #menu_render_div .entry-title {
    font-size: 14px;
  }
  #menu_render_div .entry-description {
    font-size: 12px;
  }
  #menu_render_div .entry-image-container {
    max-width: 120px;
  }
  #menu_render_div .label-container {
    gap: 4px;
    padding: 4px 6px;
  }
  #menu_render_div .label-icon {
    font-size: 10px;
  }
  #menu_render_div .label-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 330px) {
  #menu_render_div .label-text {
    display: none;
  }
}
